# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Build
build/
dist/

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.iml
